
<div class="bg">
    
    <br>
    <br>
    <marquee><h1 style="font-weight: bold;">Sales Analysis</h1></marquee>
    <br>
    <br>
    <br>
    <mat-card class="index">
        <div>
        <br>
        <br>
        <br>
        <br>
    <h1 style="text-align: center ; color:rgb(38, 0, 255);font-size: x-large;font-weight: 500;">HI THERE...</h1>
    <h2 style="text-align: center;color:rgb(38, 0, 255);font-size: x-larger;font-weight: 500;">WELCOME TO SALES FORECASTING</h2>
    <br>
    <br>
    <br>
    <p style=" text-align: center;"><button routerLink="/login" mat-raised-button color="blue">Already a User:Click here</button></p>
    <br>
    <p style="text-align: center;"><button routerLink="/register" mat-raised-button color="blue">New User:Click here </button></p>
    </div>
    </mat-card>
    </div>
    